.wave {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  margin: 58px 0 0 72px;
}

.img img {
  width: 500px;
}

.img-login {
  margin: 0px 0px 0 30px;
  width: 408px;
  height: 500px;
  /* background-image: url('/src/assets/login/loginBox.svg?component'); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 5px 5px 20px 5px rgb(0 0 0 /25%);
}

.login-box {
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.login-form {
  width: 360px;
  margin: 100px 0px 0px 24px;
}

.avatar {
  width: 350px;
  height: 120px;
  margin: -32px 0 52px 68px;
}

.login-form h2 {
  text-transform: uppercase;
  margin: 15px 0;
  color: #999;
  font:
    bold 200% Consolas,
    Monaco,
    monospace;
}

.login-btn {
  background-color: #183279;
  height: 40px;
}

@media screen and (max-width: 1180px) {
  .login-container {
    grid-gap: 9rem;
  }

  .login-form {
    width: 290px;
  }

  .img-login {
    margin: 0px 0px 0 30px;
    width: 338px;
    height: 450px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 20px 5px rgb(0 0 0 /25%);
  }

  .login-form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 360px;
  }

  .avatar {
    margin: -36px 0 36px 36px;
    width: 280px;
    height: 120px;
  }
}

@media screen and (max-width: 968px) {
  .wave {
    display: none;
  }

  .img {
    display: none;
  }

  .login-container {
    grid-template-columns: 1fr;
  }

  .login-box {
    justify-content: center;
  }
}
